body{
  font-size: 2rem;
}

h2{
  color: black !important; /* o important sempre vai ser mais relevante que qualquer outro seletor */
}

.titulo{
  color: tomato;
  padding: 10px;
}

#produtos{
  color: lightgreen;
}

html body section h2{
  border-left: 10px solid tomato;
}