.header{
  max-width: 1960px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome{
  padding: 20px 155px ;
  margin-top: 15px;
}
.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-menu a {
  font-size: 1.15rem;
  line-height: 1.3;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  margin-right: 30px;
  display: block;
  border-radius: 4px;
  background-color: #caf;
  font-weight: bold;
  transition: 0.3s;
}

.header-menu a:hover{
  font-size: 1.35rem;
}

