.introducao{
<<<<<<< HEAD
  max-width: 1920px;
  padding: 30px 5px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 220px;
=======
  display: flex;
  width: 100%;
  height: 450px;
>>>>>>> 0af848fd039fb1b8d7d4d9b90278275f834efaf8
  align-items: center;
  justify-content: space-around;
}
.imagem{
  width: 400px;
  height: 400px;
  left: 200px;
  border-radius: 100%;
  border: 4px solid #a7a7a7;
}

.imagem img{
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
  /* left: 50px; */
}

.introducao h1{
  font-size: 5.5rem;
  line-height: 6rem;
  margin-bottom: 15px;
}

.introducao p{
  font-size: 1.8rem;
  margin-bottom: 8px;
}

@media(max-width: 1367px) {
  .introducao{
    padding: 30px;
  }
  .introducao img{
    width: 250px;
    height: 250px;
  }
  .introducao h1{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .introducao p{
    font-size: 1.3rem;
    margin-bottom: 3px;
  } 
}